html
{
    text-align: center;

}
body {
    text-align: center;
}


table, th, td 
{
    border:1px solid black;
}

#Sheet
{
    text-align:center;
    margin: auto;
}
td {
    font-family: "Verily Serif Mono";
}
body p {
    font-family: "Verily Serif Mono";
}
