html
{
    text-align: center;

}
body {
    text-align: center;
}


table, th, td 
{
    border:1px solid black;
}

#Sheet
{
    text-align:center;
    margin: auto;
}
td {
    font-family: "VerilySerifMono";
}
body p {
    font-family: "VerilySerifMono";
}

@font-face {
    font-family: VerilySerifMono;
    src: url('webfonts/verily_serif_mono/VerilySerifMono.otf');
}
